table {
	width: 100vw;
	height: 100vh;
	max-height: 100%;
	overflow: auto;
}
thead th{
	position: sticky;
	top: 0;
}
.disable { display: none; }

.dady {
	width: 100vw;
	height: 100vh;
	overflow: auto;
}
header, section, footer {
	position: sticky;
	left: 0;
}